<ion-header>
  <ion-toolbar style="height: 80px;">
    <ion-buttons slot="start">
      <ion-button color="success" href="/dashboard">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
      <!-- <ion-back-button defaultHref="/dashboard"></ion-back-button> -->
    </ion-buttons>
    <ion-text color="success">
      <h1>
        <strong>
          PROFIL USAHAWAN
        </strong>
      </h1>
    </ion-text>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="top" horizontal="end" slot="fixed">

    <ion-fab-button color="light">
      <ion-icon color="success" name="caret-down-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <!-- <a href="/profile"> -->
      <ion-fab-button color="success" href="/profile">
        <!-- <ion-icon name="logo-facebook"></ion-icon> -->
        <img src="assets/icon/usahawan-icon.png" alt="">
      </ion-fab-button>
      <ion-text color="success"><small> Usahawan</small></ion-text>
      <!-- </a> -->
      <!-- <a href="/profile-syarikat" style="text-decoration:none;"> -->
      <ion-fab-button color="success" href="/profile-syarikat">
        <!-- <ion-icon name="logo-twitter"></ion-icon> -->
        <img src="assets/icon/Syarikat--icon.png" alt="">
      </ion-fab-button>
      <ion-text color="success"><small> Syarikat</small></ion-text>
      <!-- </a> -->

      <ion-fab-button color="success" href="/profile-perniagaan">
        <!-- <ion-icon name="logo-vimeo"></ion-icon> -->
        <img src="assets/icon/Perniagaan--icon.png" alt="">
      </ion-fab-button>
      <ion-text color="success"><small> Perniagaan</small></ion-text>

      <ion-fab-button color="success" href="/profile-pekebun">
        <!-- <ion-icon name="logo-vimeo"></ion-icon> -->
        <img src="assets/icon/Pekebun--icon.png" alt="">
      </ion-fab-button>
      <ion-text color="success"><small> Pekebun</small></ion-text>
    </ion-fab-list>
  </ion-fab>


  <!-- <ion-item-divider class="ion-padding" color="light">
    <ion-text color="success">

      <h1>
        <strong>
          <ion-icon name="chevron-back-outline"></ion-icon> PROFIL
        </strong>
      </h1>
    </ion-text>

  </ion-item-divider> -->


  <ion-grid [fixed]="true">


    <form [formGroup]="form" class="ion-padding form-control" (ngSubmit)="logForm()">

      <ion-row style="background-color: #00A651; color:white">
        <ion-col>
          <strong>Maklumat Peribadi</strong>
        </ion-col>
      </ion-row>
      <br>


      <ion-row class="ion-justify-content-center" style="height: 120px;">
        <ion-col></ion-col>

        <ion-col class="ion-justify-content-center">

          <label>
            <div>
              <ion-avatar class="ion-justify-content-center"
                style="padding:3%; height: 100px; width: 100px; border: 3px solid #ABC128;">
                <img [src]="usahawan.gambar_url">
              </ion-avatar>
              <img src="assets/icon/cam.png" alt="" height="30%" style="position: absolute; bottom:0px; left:37px">
            </div>
            <ion-input accept="image/*" (change)="onSelectFile($event)" formControlName="gambar_url" type="file"
              name="gambar_profil" style="display: none"></ion-input>
          </label>

        </ion-col>

        <ion-col></ion-col>

      </ion-row>
      <br>

      <ion-row>
        <ion-col>
          <ion-label>NEGERI PREMIS PERNIAGAAN</ion-label>
          <!-- <ion-input readonly></ion-input> -->
          <ion-select formControlName="negeri_perniagaan" disabled>
            <ion-select-option *ngFor="let negeri of negeri" value="{{negeri.U_Negeri_ID}}">
              {{negeri.Negeri}}</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label>PUSAT TANGGUNGJAWAP</ion-label>
          <ion-input value={{pusatTanggungjawab}} readonly></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>

          <ion-label>NO. USAHAWAN</ion-label>
          <ion-input formControlName="usahawanid" readonly></ion-input>

        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label>NAMA PENUH</ion-label>
          <ion-input formControlName="namausahawan" readonly></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label>NO. KAD PENGENALAN</ion-label>
          <ion-input formControlName="nokadpengenalan" readonly></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="form-control">
          <!-- <ion-item lines="none" style="border: none; padding:0px !important"> -->
          <ion-label class="padding" position="stacked">TARIKH LAHIR </ion-label>
          <!-- <ion-input formControlName="tarikhlahir" readonly></ion-input> -->
          <ion-datetime displayFormat="DD/MM/YYYY" formControlName="tarikhlahir" readonly
            style="background-color: #f5f5f5;"></ion-datetime>
          <!-- </ion-item> -->
        </ion-col>

        <ion-col class="form-control">
          <!-- <ion-item lines="none" style="border: none;"> -->
          <ion-label class="padding" position="stacked">JANTINA </ion-label>
          <!-- <ion-input formControlName="U_Jantina_ID" readonly></ion-input> -->
          <ion-select formControlName="U_Jantina_ID">
            <ion-select-option *ngFor="let jantina of jantina" [value]="jantina.id"
              selected="jantina.id == this.usahawan.U_Jantina_ID">{{jantina.name}}</ion-select-option>
          </ion-select>
          <!-- </ion-item> -->
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <br>
          <ion-label> BANGSA</ion-label>
          <!-- <ion-input formControlName="U_Bangsa_ID"></ion-input> -->
          <ion-select formControlName="U_Bangsa_ID">
            <ion-select-option *ngFor="let bangsa of bangsa" value="{{bangsa.id}}">{{bangsa.name}}</ion-select-option>
          </ion-select>
        </ion-col>

        <ion-col>


          <ion-label> STATUS PERKAHWINAN</ion-label>
          <!-- <ion-input value="{{usahawan.statusperkahwinan}}" formControlName="statusperkahwinan"></ion-input> -->
          <ion-select formControlName="statusperkahwinan">
            <ion-select-option *ngFor="let statusperkahwinan of statusperkahwinan" value="{{statusperkahwinan.id}}">
              {{statusperkahwinan.name}}</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label> TAHAP PENDIDIKAN</ion-label>
          <!-- <ion-input formControlName="U_Pendidikan_ID"></ion-input> -->
          <ion-select formControlName="U_Pendidikan_ID">
            <ion-select-option *ngFor="let tahapPendidikan of tahapPendidikan" [value]="tahapPendidikan.id"
              selected="tahapPendidikan.id == this.usahawan.U_Pendidikan_ID">{{tahapPendidikan.name}}
            </ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>

      <br><br><br>

      <ion-row style="background-color: #00A651; color:white">
        <ion-col>
          <strong>Maklumat Kediaman</strong>
        </ion-col>
      </ion-row>
      <br>

      <ion-row>
        <ion-col>
          <ion-label> ALAMAT (BARIS 1)</ion-label>
          <ion-input formControlName="alamat1"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label> ALAMAT (BARIS 2)</ion-label>
          <ion-input formControlName="alamat2"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label> ALAMAT (BARIS 3)</ion-label>
          <ion-input formControlName="alamat3"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label> BANDAR</ion-label>
          <ion-input formControlName="bandar"></ion-input>
        </ion-col>
        <ion-col>
          <ion-label> POSKOD</ion-label>
          <ion-input formControlName="poskod"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label> NEGERI</ion-label>
          <!-- <ion-input formControlName="U_Negeri_ID"></ion-input> -->
          <ion-select formControlName="U_Negeri_ID" (ionChange)="getDaerah(); getParlimen()">
            <ion-select-option *ngFor="let negeri of negeri" value="{{negeri.U_Negeri_ID}}">
              {{negeri.Negeri}}</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label> DAERAH</ion-label>
          <!-- <ion-input value="{{usahawan.U_Daerah_ID}}" formControlName="U_Daerah_ID"></ion-input> -->
          <ion-select formControlName="U_Daerah_ID" (ionChange)="getMukim()">
            <ion-select-option *ngFor="let daerah of daerah" value="{{daerah.U_Daerah_ID}}">{{daerah.Daerah}}
            </ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col>
          <ion-label> MUKIM</ion-label>
          <!-- <ion-input  formControlName="U_Mukim_ID"></ion-input> -->
          <ion-select formControlName="U_Mukim_ID" (ionChange)="getKampung($event); getSeksyen()">
            <ion-select-option *ngFor="let mukim of mukim" value="{{mukim.U_Mukim_ID}}">{{mukim.Mukim}}
            </ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label> PARLIMEN</ion-label>
          <!-- <ion-input value="{{usahawan.U_Parlimen_ID}}" formControlName="U_Parlimen_ID"></ion-input> -->
          <ion-select formControlName="U_Parlimen_ID" (ionChange)="getDun()">
            <ion-select-option *ngFor="let parlimen of parlimen" value="{{parlimen.U_Parlimen_ID}}">
              {{parlimen.Parlimen}}
            </ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col>
          <ion-label> DUN</ion-label>
          <!-- <ion-input value="{{usahawan.U_Dun_ID}}" formControlName="U_Dun_ID"></ion-input> -->
          <ion-select formControlName="U_Dun_ID">
            <ion-select-option *ngFor="let dun of dun" value="{{dun.U_Dun_ID}}">{{dun.Dun}}
            </ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label> KAMPUNG</ion-label>
          <!-- <ion-input value="{{usahawan.U_Kampung_ID}}" formControlName="U_Kampung_ID"></ion-input> -->
          <ion-select formControlName="U_Kampung_ID">
            <ion-select-option *ngFor="let kampung of kampung" [value]="kampung.U_Kampung_ID"
              selected="kampung.U_Kampung_ID == this.usahawan.U_Kampung_ID">{{kampung.Kampung}}
            </ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col>
          <ion-label> SEKSYEN</ion-label>
          <!-- <ion-input value="{{usahawan.U_Seksyen_ID}}" formControlName="U_Seksyen_ID"></ion-input> -->
          <ion-select formControlName="U_Seksyen_ID">
            <ion-select-option *ngFor="let seksyen of seksyen" [value]="seksyen.U_Seksyen_ID"
              selected="seksyen.U_Seksyen_ID == this.usahawan.U_Seksyen_ID">{{seksyen.Seksyen}}
            </ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>

      <br><br><br>
      <ion-row style="background-color: #00A651; color:white">
        <ion-col>
          <strong>Maklumat Lain</strong>
        </ion-col>
      </ion-row>
      <br>

      <ion-row>
        <ion-col>

          <ion-label>HUBUNGAN USAHAWAN DAN PEKEBUN</ion-label>
          <ion-select formControlName="status_daftar_usahawan" >
            <ion-select-option *ngFor="let statusDaftarUsahawan of statusDaftarUsahawan"
              value="{{statusDaftarUsahawan.id}}"
              >
              {{statusDaftarUsahawan.name}}
            </ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label> KATEGORI USAHAWAN</ion-label>
          <!-- <ion-input value="{{usahawan.id_kategori_usahawan}}" formControlName="id_kategori_usahawan"></ion-input> -->


          <ion-select formControlName="id_kategori_usahawan" disabled>
            <ion-select-option *ngFor="let kategoriUsahawan of kategoriUsahawan"
              [value]="kategoriUsahawan.id_kategori_usahawan"
              selected="kategoriUsahawan.id_kategori_usahawan == this.usahawan.id_kategori_usahawan">
              {{kategoriUsahawan.nama_kategori_usahawan}}
            </ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label> NO. TELEFON</ion-label>
          <ion-input value="{{usahawan.notelefon}}" formControlName="notelefon"></ion-input>
        </ion-col>
        <ion-col>
          <ion-label> NO. TELEFON (HP)</ion-label>
          <ion-input value="{{usahawan.nohp}}" formControlName="nohp"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label> EMAIL</ion-label>
          <ion-input value="{{usahawan.email}}" formControlName="email"></ion-input>
        </ion-col>
      </ion-row>



      <ion-row>
        <ion-col>
          <!-- <ion-label> KATEGORI USAHAWAN</ion-label> -->
          <ion-button type="submit" expand="block" color="success">KEMASKINI</ion-button>
        </ion-col>
      </ion-row>

    </form>

  </ion-grid>


</ion-content>