<ion-header>
  <ion-toolbar style="height: 80px;">

    <ion-buttons slot="start">
      <ion-button color="success" href="/dashboard">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
      <ion-text color="success">
        <h1>
          <strong class="ion-text-uppercase">
            CARIAN
          </strong>
        </h1>
      </ion-text>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <form action="">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <ion-input type="text" placeholder="Nama/No. Kad Penganalan/Usahawan ID"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12"></ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12"></ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12"></ion-col>
      </ion-row>
    </ion-grid>
  </form>


</ion-content>