<ion-header>
  <ion-toolbar style="height: 80px;">
    <ion-buttons slot="start">
      <ion-button color="success" href="/dashboard">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
      <!-- <ion-back-button defaultHref="/dashboard"></ion-back-button> -->
    </ion-buttons>
    <ion-text color="success">
      <h1>
        <strong>
           PROFIL
        </strong>
      </h1>
    </ion-text>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="top" horizontal="end" slot="fixed">

    <ion-fab-button color="light">
      <ion-icon color="success" name="caret-down-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <!-- <a href="/profile"> -->
      <ion-fab-button color="success" href="/profile">
        <!-- <ion-icon name="logo-facebook"></ion-icon> -->
        <img src="assets/icon/usahawan-icon.png" alt="">
      </ion-fab-button>
      <ion-text color="success"><small> Usahawan</small></ion-text>
      <!-- </a> -->
      <!-- <a href="/profile-syarikat" style="text-decoration:none;"> -->
      <ion-fab-button color="success" href="/profile-syarikat">
        <!-- <ion-icon name="logo-twitter"></ion-icon> -->
        <img src="assets/icon/Syarikat--icon.png" alt="">
      </ion-fab-button>
      <ion-text color="success"><small> Syarikat</small></ion-text>
      <!-- </a> -->

      <ion-fab-button color="success" href="/profile-perniagaan">
        <!-- <ion-icon name="logo-vimeo"></ion-icon> -->
        <img src="assets/icon/Perniagaan--icon.png" alt="">
      </ion-fab-button>
      <ion-text color="success"><small> Perniagaan</small></ion-text>

      <ion-fab-button color="success" href="/profile-pekebun">
        <!-- <ion-icon name="logo-vimeo"></ion-icon> -->
        <img src="assets/icon/Pekebun--icon.png" alt="">
      </ion-fab-button>
      <ion-text color="success"><small> Pekebun</small></ion-text>
    </ion-fab-list>
  </ion-fab>



  <!-- <ion-item-divider class="ion-padding" color="light">
    <ion-text color="success">

      <h1><strong>
          <ion-icon name="chevron-back-outline"></ion-icon> PROFIL
        </strong></h1>
    </ion-text>

  </ion-item-divider> -->


  <ion-grid [fixed]="true">


    <form action="" class="ion-padding form-control">

      <ion-row>
        <ion-col>
          <strong>Maklumat Perniagaan</strong>
        </ion-col>
      </ion-row>
      <br>

      <br>

      <ion-row>
        <ion-col>

          <ion-label>JENIS MILIKAN</ion-label>
          <ion-input value="{{perniagaan.jenisperniagaan}}" ></ion-input>

        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label>KLUSTER PERNIAGAAN</ion-label>
          <ion-input value="{{perniagaan.klusterperniagaan}}" ></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label>SUB KLUSTER PERNIAGAAN</ion-label>
          <ion-input value="{{perniagaan.subkluster}}" ></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label> ALAMAT 1 (BARIS 1)</ion-label>
          <ion-input value="{{perniagaan.alamat1}}" ></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label> ALAMAT 2 (BARIS 2)</ion-label>
          <ion-input value="{{perniagaan.alamat2}}" ></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label> ALAMAT 3 (BARIS 3)</ion-label>
          <ion-input value="{{perniagaan.alamat3}}" ></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label> BANDAR</ion-label>
          <ion-input value="{{perniagaan.bandar}}" ></ion-input>
        </ion-col>
        <ion-col>
          <ion-label> POSKOD</ion-label>
          <ion-input value="{{perniagaan.poskod}}" ></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label> NEGERI</ion-label>
          <ion-input value="{{perniagaan.U_Negeri_ID}}" ></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label> DAERAH</ion-label>
          <ion-input value="{{perniagaan.U_Daerah_ID}}" ></ion-input>
        </ion-col>
        <ion-col>
          <ion-label> MUKIM</ion-label>
          <ion-input value="{{perniagaan.U_Mukim_ID}}" ></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label> PARLIMEN</ion-label>
          <ion-input value="{{perniagaan.U_Parlimen_ID}}" ></ion-input>
        </ion-col>
        <ion-col>
          <ion-label> DUN</ion-label>
          <ion-input value="{{perniagaan.U_Dun_ID}}" ></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label> KAMPUNG</ion-label>
          <ion-input value="{{perniagaan.U_Kampung_ID}}" ></ion-input>
        </ion-col>
        <ion-col>
          <ion-label> SEKSYEN</ion-label>
          <ion-input value="{{perniagaan.U_Seksyen_ID}}" ></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label>LATITUD</ion-label>
          <ion-input value="{{perniagaan.latitud}}" ></ion-input>
        </ion-col>

      </ion-row>

      <ion-row>

        <ion-col>
          <ion-label> LONGITUD</ion-label>
          <ion-input value="{{perniagaan.logitud}}" ></ion-input>
        </ion-col>
      </ion-row>

      <br><br><br>
      <ion-row>
        <ion-col>
          <strong>Maklumat Media Sosial</strong>
        </ion-col>
      </ion-row>
      <br>

      <br>

      <ion-row>
        <ion-col>
          <ion-label> FACEBOOK </ion-label>
          <ion-input value="{{perniagaan.facebook}}" ></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label> INSTAGRAM</ion-label>
          <ion-input value="{{perniagaan.instagram}}" ></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label> TWITTER</ion-label>
          <ion-input value="{{perniagaan.twitter}}" ></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label> LAMAN WEB</ion-label>
          <ion-input value="{{perniagaan.lamanweb}}" ></ion-input>
        </ion-col>
      </ion-row>

      <br><br><br>
      <ion-row>
        <ion-col>
          <strong>Maklumat Pemasaran</strong>
        </ion-col>
      </ion-row>
      <br>

      <br>

      <ion-row>
        <ion-col>
          <ion-label> DROPSHIP</ion-label>
          <ion-input value="{{perniagaan.dropship}}" ></ion-input>
        </ion-col>
        <ion-col>
          <ion-label> EJEN</ion-label>
          <ion-input value="{{perniagaan.ejen}}" ></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label> STOKIS</ion-label>
          <ion-input value="{{perniagaan.stokis}}" ></ion-input>
        </ion-col>
        <ion-col>
          <ion-label> OUTLET</ion-label>
          <ion-input value="{{perniagaan.outlet}}" ></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label> PASARAN DOMESTIK</ion-label>
          <ion-input value="{{perniagaan.domestik}}" ></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label> PASARAN LUAR NEGERA</ion-label>
          <ion-input value="{{perniagaan.luarnegara}}" ></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label> PASARAN ONLINE</ion-label>
          <ion-input value="{{perniagaan.pasaranonline}}" ></ion-input>
        </ion-col>
      </ion-row>



      <br><br><br>
      <ion-row>
        <ion-col>
          <strong>Maklumat Pendapatan</strong>
        </ion-col>
      </ion-row>
      <br>

      <br>

      <ion-row>
        <ion-col>
          <ion-label> PURATA JUALAN TERAKHIR</ion-label>
          <ion-input value="{{perniagaan.purata_jualan_bulanan}}" ></ion-input>
        </ion-col>
        <ion-col>
          <ion-label> PURATA JUALAN TAHUNAN</ion-label>
          <ion-input value="{{perniagaan.hasil_jualan_tahunan}}" ></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label> STOKIS</ion-label>
          <ion-input value="{{perniagaan.stokis}}" ></ion-input>
        </ion-col>
        <ion-col>
          <ion-label> OUTLET</ion-label>
          <ion-input value="{{perniagaan.outlet}}" ></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label> HASIL JUALAN TAHUNAN</ion-label>
          <ion-input value="{{perniagaan.outlet}}" ></ion-input>
        </ion-col>
        <ion-col>
          <!-- <ion-label> OUTLET</ion-label>
          <ion-input value="{{perniagaan.}}" ></ion-input> -->
        </ion-col>
      </ion-row>


      <br><br><br>
      <ion-row>
        <ion-col>
          <strong>Maklumat Produk</strong>
        </ion-col>
      </ion-row>
      <br>

      <br>
      <div *ngFor="let group of groups">
        <ion-row>
          <ion-col>
            <ion-label> JENAMA PRODUK </ion-label>
            <ion-input value="" ></ion-input>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-label> UNIT MATRIK</ion-label>
            <ion-input value="" ></ion-input>
          </ion-col>
          <ion-col>
            <ion-label> HARGA PER UNIT</ion-label>
            <ion-input value="" ></ion-input>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-label> KAPASITI MAKSIMUM</ion-label>
            <ion-input value="" ></ion-input>
          </ion-col>
          <ion-col>
            <ion-label> KAPASITI SEMASA</ion-label>
            <ion-input value="" ></ion-input>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-icon name="trash-outline" (click)="removeItem()"></ion-icon>
          <ion-icon name="duplicate-outline" (click)="addGroupItem()"></ion-icon>
        </ion-row>
      </div>


      <br><br><br>
      <ion-row>
        <ion-col>
          <strong>LAMPIRAN</strong>
        </ion-col>
      </ion-row>
      <br>

      <ion-row>
        <ion-col>
          <ion-label> DOKUMEN LAMPIRAN </ion-label>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button expand="block" type="file" value="" >PILIH DOKUMEN</ion-button>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col>
          <!-- <ion-label> KATEGORI USAHAWAN</ion-label> -->
          <ion-button expand="block" color="success">KEMASKINI</ion-button>
        </ion-col>
      </ion-row>

      <!-- <p>
        <button type="button" class="btn btn-primary btn-sm" >
          Add Group Item
        </button>

        <button type="button" class="btn btn-primary btn-sm ms-3 ml-3" >Remove
          Item
        </button>
      </p> -->

      <!-- <accordion>
        <accordion-group *ngFor="let group of groups" [heading]="group.title">
          {{ group?.content }}
        </accordion-group>
      </accordion> -->

    </form>

  </ion-grid>





</ion-content>