<ion-header>
  <ion-toolbar style="height: 80px;">
    <ion-buttons slot="start">
      <ion-button color="success" href="/dashboard">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
      <!-- <ion-back-button defaultHref="/dashboard"></ion-back-button> -->
    </ion-buttons>
    <ion-text color="success">
      <h1>
        <strong>
           PROFIL SYARIKAT
        </strong>
      </h1>
    </ion-text>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="top" horizontal="end" slot="fixed">

    <ion-fab-button color="light">
      <ion-icon color="success" name="caret-down-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <!-- <a href="/profile"> -->
      <ion-fab-button color="success" href="/profile">
        <!-- <ion-icon name="logo-facebook"></ion-icon> -->
        <img src="assets/icon/usahawan-icon.png" alt="">
      </ion-fab-button>
      <ion-text color="success"><small> Usahawan</small></ion-text>
      <!-- </a> -->
      <!-- <a href="/profile-syarikat" style="text-decoration:none;"> -->
      <ion-fab-button color="success" href="/profile-syarikat">
        <!-- <ion-icon name="logo-twitter"></ion-icon> -->
        <img src="assets/icon/Syarikat--icon.png" alt="">
      </ion-fab-button>
      <ion-text color="success"><small> Syarikat</small></ion-text>
      <!-- </a> -->

      <ion-fab-button color="success" href="/profile-perniagaan">
        <!-- <ion-icon name="logo-vimeo"></ion-icon> -->
        <img src="assets/icon/Perniagaan--icon.png" alt="">
      </ion-fab-button>
      <ion-text color="success"><small> Perniagaan</small></ion-text>

      <ion-fab-button color="success" href="/profile-pekebun">
        <!-- <ion-icon name="logo-vimeo"></ion-icon> -->
        <img src="assets/icon/Pekebun--icon.png" alt="">
      </ion-fab-button>
      <ion-text color="success"><small> Pekebun</small></ion-text>
    </ion-fab-list>
  </ion-fab>

  <!-- <ion-button (click)="presentAlert()">click</ion-button> -->



  <!-- <ion-item-divider class="ion-padding" color="light">
    <ion-text color="success">

      <h1><strong>
          <ion-icon name="chevron-back-outline"></ion-icon> PROFIL
        </strong></h1>
    </ion-text>

  </ion-item-divider> -->


  <ion-grid [fixed]="true">


    <form action="" [formGroup]="form" class="ion-padding form-control" (ngSubmit)="logForm()">

      <ion-row style="background-color: #00A651; color:white">
        <ion-col>
          <strong>Maklumat Syarikat</strong>
        </ion-col>
      </ion-row>
      <br>


      <ion-row class="ion-justify-content-center" style="height: 120px;">
        <ion-col></ion-col>

        <ion-col class="ion-justify-content-center">

          <label>
            <div>
              <ion-avatar class="ion-justify-content-center"
                style="padding:3%; height: 100px; width: 100px; border: 3px solid #ABC128;">
                <img [src]="syarikat.logo_syarikat">
              </ion-avatar>
              <img src="assets/icon/cam.png" alt="" height="30%" style="position: absolute; bottom:0px; left:37px">
            </div>
            <ion-input accept="image/*" (change)="onSelectFile($event)" formControlName="logo_syarikat" type="file"
              name="gambar_profil" style="display: none"></ion-input>
          </label>

        </ion-col>

        <ion-col></ion-col>

      </ion-row>
      <br>

      <ion-row>
        <ion-col>

          <ion-label>NAMA SYARIKAT</ion-label>
          <ion-input value="{{syarikat.namasyarikat}}" formControlName="namasyarikat"></ion-input>

        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label>JENIS MILIKAN PERNIAGAAN</ion-label>
          <!-- <ion-input value="{{syarikat.jenismilikanperniagaan}}" formControlName="jenismilikanperniagaan"></ion-input> -->
          <ion-select formControlName="jenismilikanperniagaan">
            <ion-select-option *ngFor="let jenis_milikan of jenis_milikan" value="{{jenis_milikan.id}}"  
              >{{jenis_milikan.name}}</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label> NO. DAFTAR SSM</ion-label>
          <ion-input value="{{syarikat.nodaftarssm}}" formControlName="nodaftarssm"></ion-input>
        </ion-col>
        <ion-col>
          <ion-label> NO. DAFTAR PBT</ion-label>
          <ion-input value="{{syarikat.nodaftarpbt}}" formControlName="nodaftarpbt"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>

          <ion-label>NO. DAFTAR PERSIJILAN HALAL</ion-label>

          <ion-input value="{{syarikat.nodaftarpersijilanhalal}}" formControlName="nodaftarpersijilanhalal"></ion-input>

        </ion-col>

        <ion-col>
          <br>
          <ion-label>NO. DAFTAR MESTI</ion-label>
          <ion-input value="{{syarikat.nodaftarmesti}}" formControlName="nodaftarmesti"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label>TAHUN MULA OPERASI</ion-label>
          <!-- <ion-input value="{{syarikat.tahunmulaoperasi}}" formControlName="tahunmulaoperasi"></ion-input> -->
          <ion-datetime displayFormat="DD/MM/YYYY" formControlName="tahunmulaoperasi" 
            style="background-color: #f5f5f5;"></ion-datetime>
        </ion-col>
        <ion-col>
          <br>
          <ion-label>BILANGAN PEKERJA</ion-label>
          <ion-input value="{{syarikat.bilanganpekerja}}" formControlName="bilanganpekerja"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label> ALAMAT 1 (BARIS 1)</ion-label>
          <ion-input value="{{syarikat.alamat1_ssm}}" formControlName="alamat1_ssm"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label> ALAMAT 2 (BARIS 2)</ion-label>
          <ion-input value="{{syarikat.alamat2_ssm}}" formControlName="alamat2_ssm"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label> ALAMAT 3 (BARIS 3)</ion-label>
          <ion-input value="{{syarikat.alamat3_ssm}}" formControlName="alamat3_ssm"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label> TARIKH MULA MOF</ion-label>
          <!-- <ion-input value="{{syarikat.tarikh_mula_mof}}" formControlName="tarikh_mula_mof"></ion-input> -->
          <ion-datetime displayFormat="DD/MM/YYYY" formControlName="tarikh_mula_mof" 
            style="background-color: #f5f5f5;"></ion-datetime>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label> TARIKH TAMAT MOF</ion-label>
          <!-- <ion-input value="{{syarikat.tarikh_tamat_mof}}" formControlName="tarikh_tamat_mof"></ion-input> -->
          <ion-datetime displayFormat="DD/MM/YYYY" formControlName="tarikh_tamat_mof" 
            style="background-color: #f5f5f5;"></ion-datetime>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label> STATUS BUMIPUTERA</ion-label>
          <ion-input value="{{syarikat.status_bumiputera}}" formControlName="status_bumiputera"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label>PREFIX ID</ion-label>
          <ion-input value="{{syarikat.prefix_id}}" formControlName="prefix_id"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label> NO. TELEFON</ion-label>
          <ion-input value="{{syarikat.notelefon}}" formControlName="notelefon"></ion-input>
        </ion-col>
        <ion-col>
          <ion-label> NO. TELEFON (HP)</ion-label>
          <ion-input value="{{syarikat.no_hp}}" formControlName="no_hp"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label> EMAIL</ion-label>
          <ion-input value="{{syarikat.email}}" formControlName="email"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <!-- <ion-label> KATEGORI USAHAWAN</ion-label> -->
          <ion-button type="submit" expand="block" color="success" [disabled]="form.invalid">KEMASKINI</ion-button>
        </ion-col>
      </ion-row>

    </form>

  </ion-grid>


</ion-content>