<ion-header>
  <ion-toolbar style="height: 80px;">

    <ion-buttons slot="start">
      <ion-button color="success" href="/dashboard">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
      <!-- <ion-back-button defaultHref="/dashboard"></ion-back-button> -->
    </ion-buttons>
    <ion-text color="success">
      <h3>
        <strong class="ion-text-uppercase bold">
          RINGKASAN LEJAR
        </strong>
      </h3>
    </ion-text>
  </ion-toolbar>
</ion-header>

<ion-content>


  <!-- <div class="rectangle-280"></div> -->

  <div class="bg-white">

    <div style="width: 100%; height:23%;">

      <ion-card>
        <ion-card-content class="no-padding test" >
          <ion-item>
            <ion-label class="bold success">Bulan</ion-label>
            <!-- <ion-input placeholder="placeholder"></ion-input> -->
            <ion-datetime class="success" display-format="MMMM" picker-format="MMMM" [(ngModel)]="month"></ion-datetime>
          </ion-item>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-content class="no-padding test">
          <ion-item>
            <ion-label class="bold success">Tahun</ion-label>
            <ion-datetime class="success" display-format="YYYY" picker-format="YYYY" [(ngModel)]="year"></ion-datetime>
          </ion-item>
        </ion-card-content>
      </ion-card>
      

    </div>

    <div style="width: 100%; height:77%; overflow:scroll">

      <div class="rectangle-1" *ngFor="let bukutunai of buku_tunai">
        <h3 class="bold">RINGKASAN LEJAR</h3>
        <h5 class="no-margin">{{bukutunai.bulan}} 2020</h5>

        <div style="width: 100%; height:30%;  display:flex; justify-content:flex-end;">
          <img src="assets/icon/download-excel-button-white.png" alt="" height="100%" (click)="printExcel()">

          <img src="assets/icon/download-PDF-button-white.png" alt="" height="100%" (click)="printPdf()">

          <img src="assets/icon/SHARE-BUTTON-ICON.png" alt="" height="100%" (click)="share()">

        </div>

      </div>

    </div>

  </div>




</ion-content>